In [5]:
import pandas as pd
df = pd.read_csv("nyc_weather.csv")
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [13]:
rows, columns = df.shape

In [15]:
rows

31

In [17]:
columns

11

In [23]:
df.head(2)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275

In [27]:
df.tail(5)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [31]:
df[2:5]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [35]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [40]:
df.Temperature #df['Temperature']

0     38
1     36
2     40
3     25
4     20
5     33
6     39
7     39
8     44
9     50
10    33
11    35
12    26
13    30
14    43
15    47
16    36
17    25
18    22
19    32
20    31
21    26
22    26
23    28
24    34
25    43
26    41
27    37
28    36
29    34
30    46
Name: Temperature, dtype: int64

In [46]:
type(df['Events'])

pandas.core.series.Series

In [50]:
df[['Temperature','Events']]

    Temperature    Events
0            38       NaN
1            36       NaN
2            40       NaN
3            25       NaN
4            20       NaN
5            33       NaN
6            39       NaN
7            39       NaN
8            44      Rain
9            50      Rain
10           33       NaN
11           35       NaN
12           26       NaN
13           30       NaN
14           43       NaN
15           47      Rain
16           36  Fog-Snow
17           25      Snow
18           22       NaN
19           32       NaN
20           31       NaN
21           26      Snow
22           26  Fog-Snow
23           28      Snow
24           34       NaN
25           43       NaN
26           41      Rain
27           37       NaN
28           36       NaN
29           34       NaN
30           46       NaN

In [54]:
df['Temperature'].max()

np.int64(50)

In [58]:
df['Temperature'].mean()

np.float64(34.67741935483871)

In [62]:
df['Temperature'].std()

np.float64(7.639315400279416)

In [66]:
df.describe()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,28.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992903,9.193548,6.892857,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,2.871821,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,2.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,6.500000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.140000,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

In [74]:
 df[df.Temperature>=40]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [78]:
df[df.Temperature==df.Temperature.max()]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109

In [82]:
df[df.Temperature==df['Temperature'].max()] #if space

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109

In [86]:
df[['EST','Temperature']][df.Temperature==df['Temperature'].max()]

         EST  Temperature
9  1/10/2016           50

In [90]:
df.index

RangeIndex(start=0, stop=31, step=1)

In [100]:
df.set_index('EST')

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [102]:
df.loc['1/24/2016']

KeyError: '1/24/2016'

In [110]:
df.set_index('EST', inplace=True)

KeyError: "None of ['EST'] are in the columns"

In [114]:
df

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [118]:
df.loc['1/24/2016']

Temperature                28
DewPoint                   11
Humidity                   53
Sea Level PressureIn    29.92
VisibilityMiles             8
WindSpeedMPH              6.0
PrecipitationIn             T
CloudCover                  3
Events                   Snow
WindDirDegrees            327
Name: 1/24/2016, dtype: object

In [124]:
df.reset_index(inplace=True)
df

,level_0,index,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,0,0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1,1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,2,2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,3,3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,4,4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,5,5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,6,6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,7,7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,8,8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,9,9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,10,10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,11,11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,12,12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,13,13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,14,14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,15,15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,16,16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,17,17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,18,18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,19,19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,20,20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,21,21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,22,22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,23,23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,24,24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,25,25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,26,26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,27,27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,28,28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,29,29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,30,30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [138]:
df.set_index('Temperature',inplace=True)
df

KeyError: "None of ['Temperature'] are in the columns"

In [142]:
df

,level_0,index,EST,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
Temperature,,,,,,,,,,,,
38,0,0,1/1/2016,23,52,30.03,10,8.0,0,5,NaN,281
36,1,1,1/2/2016,18,46,30.02,10,7.0,0,3,NaN,275
40,2,2,1/3/2016,21,47,29.86,10,8.0,0,1,NaN,277
25,3,3,1/4/2016,9,44,30.05,10,9.0,0,3,NaN,345
20,4,4,1/5/2016,-3,41,30.57,10,5.0,0,0,NaN,333
33,5,5,1/6/2016,4,35,30.50,10,4.0,0,0,NaN,259
39,6,6,1/7/2016,11,33,30.28,10,2.0,0,3,NaN,293
39,7,7,1/8/2016,29,64,30.20,10,4.0,0,8,NaN,79
44,8,8,1/9/2016,38,77,30.16,9,8.0,T,8,Rain,76
50,9,9,1/10/2016,46,71,29.59,4,NaN,1.8,7,Rain,109
33,10,10,1/11/2016,8,37,29.92,10,NaN,0,1,NaN,289
35,11,11,1/12/2016,15,53,29.85,10,6.0,T,4,NaN,235
26,12,12,1/13/2016,4,42,29.94,10,10.0,0,0,NaN,284
30,13,13,1/14/2016,12,47,29.95,10,5.0,T,7,NaN,266
43,14,14,1/15/2016,31,62,29.82,9,5.0,T,2,NaN,101
47,15,15,1/16/2016,37,70,29.52,8,7.0,0.24,7,Rain,340
36,16,16,1/17/2016,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
25,17,17,1/18/2016,6,53,29.83,9,12.0,T,2,Snow,293
22,18,18,1/19/2016,3,42,30.03,10,11.0,0,1,NaN,293
32,19,19,1/20/2016,15,49,30.13,10,6.0,0,2,NaN,302
31,20,20,1/21/2016,11,45,30.15,10,6.0,0,1,NaN,312
26,21,21,1/22/2016,6,41,30.21,9,NaN,0.01,3,Snow,34
26,22,22,1/23/2016,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
28,23,23,1/24/2016,11,53,29.92,8,6.0,T,3,Snow,327
34,24,24,1/25/2016,18,54,30.25,10,3.0,0,2,NaN,286
43,25,25,1/26/2016,29,56,30.03,10,7.0,0,2,NaN,244
41,26,26,1/27/2016,22,45,30.03,10,7.0,T,3,Rain,311
37,27,27,1/28/2016,20,51,29.90,10,5.0,0,1,NaN,234
36,28,28,1/29/2016,21,50,29.58,10,8.0,0,4,NaN,298
34,29,29,1/30/2016,16,46,30.01,10,7.0,0,0,NaN,257
46,30,30,1/31/2016,28,52,29.90,10,5.0,0,0,NaN,241

In [146]:
df.loc['28']

KeyError: '28'

In [158]:
df.reset_index(inplace=True)

ValueError: cannot insert level_0, already exists

In [162]:
df

,Temperature,level_0,index,EST,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,38,0,0,1/1/2016,23,52,30.03,10,8.0,0,5,NaN,281
1,36,1,1,1/2/2016,18,46,30.02,10,7.0,0,3,NaN,275
2,40,2,2,1/3/2016,21,47,29.86,10,8.0,0,1,NaN,277
3,25,3,3,1/4/2016,9,44,30.05,10,9.0,0,3,NaN,345
4,20,4,4,1/5/2016,-3,41,30.57,10,5.0,0,0,NaN,333
5,33,5,5,1/6/2016,4,35,30.50,10,4.0,0,0,NaN,259
6,39,6,6,1/7/2016,11,33,30.28,10,2.0,0,3,NaN,293
7,39,7,7,1/8/2016,29,64,30.20,10,4.0,0,8,NaN,79
8,44,8,8,1/9/2016,38,77,30.16,9,8.0,T,8,Rain,76
9,50,9,9,1/10/2016,46,71,29.59,4,NaN,1.8,7,Rain,109
10,33,10,10,1/11/2016,8,37,29.92,10,NaN,0,1,NaN,289
11,35,11,11,1/12/2016,15,53,29.85,10,6.0,T,4,NaN,235
12,26,12,12,1/13/2016,4,42,29.94,10,10.0,0,0,NaN,284
13,30,13,13,1/14/2016,12,47,29.95,10,5.0,T,7,NaN,266
14,43,14,14,1/15/2016,31,62,29.82,9,5.0,T,2,NaN,101
15,47,15,15,1/16/2016,37,70,29.52,8,7.0,0.24,7,Rain,340
16,36,16,16,1/17/2016,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,25,17,17,1/18/2016,6,53,29.83,9,12.0,T,2,Snow,293
18,22,18,18,1/19/2016,3,42,30.03,10,11.0,0,1,NaN,293
19,32,19,19,1/20/2016,15,49,30.13,10,6.0,0,2,NaN,302
20,31,20,20,1/21/2016,11,45,30.15,10,6.0,0,1,NaN,312
21,26,21,21,1/22/2016,6,41,30.21,9,NaN,0.01,3,Snow,34
22,26,22,22,1/23/2016,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,28,23,23,1/24/2016,11,53,29.92,8,6.0,T,3,Snow,327
24,34,24,24,1/25/2016,18,54,30.25,10,3.0,0,2,NaN,286
25,43,25,25,1/26/2016,29,56,30.03,10,7.0,0,2,NaN,244
26,41,26,26,1/27/2016,22,45,30.03,10,7.0,T,3,Rain,311
27,37,27,27,1/28/2016,20,51,29.90,10,5.0,0,1,NaN,234
28,36,28,28,1/29/2016,21,50,29.58,10,8.0,0,4,NaN,298
29,34,29,29,1/30/2016,16,46,30.01,10,7.0,0,0,NaN,257
30,46,30,30,1/31/2016,28,52,29.90,10,5.0,0,0,NaN,241

In [166]:
df.set_index('VisibilityMiles', inplace=True)
df

KeyError: "None of ['VisibilityMiles'] are in the columns"

In [170]:
df

,Temperature,level_0,index,EST,DewPoint,Humidity,Sea Level PressureIn,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
VisibilityMiles,,,,,,,,,,,,
10,38,0,0,1/1/2016,23,52,30.03,8.0,0,5,NaN,281
10,36,1,1,1/2/2016,18,46,30.02,7.0,0,3,NaN,275
10,40,2,2,1/3/2016,21,47,29.86,8.0,0,1,NaN,277
10,25,3,3,1/4/2016,9,44,30.05,9.0,0,3,NaN,345
10,20,4,4,1/5/2016,-3,41,30.57,5.0,0,0,NaN,333
10,33,5,5,1/6/2016,4,35,30.50,4.0,0,0,NaN,259
10,39,6,6,1/7/2016,11,33,30.28,2.0,0,3,NaN,293
10,39,7,7,1/8/2016,29,64,30.20,4.0,0,8,NaN,79
9,44,8,8,1/9/2016,38,77,30.16,8.0,T,8,Rain,76
4,50,9,9,1/10/2016,46,71,29.59,NaN,1.8,7,Rain,109
10,33,10,10,1/11/2016,8,37,29.92,NaN,0,1,NaN,289
10,35,11,11,1/12/2016,15,53,29.85,6.0,T,4,NaN,235
10,26,12,12,1/13/2016,4,42,29.94,10.0,0,0,NaN,284
10,30,13,13,1/14/2016,12,47,29.95,5.0,T,7,NaN,266
9,43,14,14,1/15/2016,31,62,29.82,5.0,T,2,NaN,101
8,47,15,15,1/16/2016,37,70,29.52,7.0,0.24,7,Rain,340
8,36,16,16,1/17/2016,23,66,29.78,6.0,0.05,6,Fog-Snow,345
9,25,17,17,1/18/2016,6,53,29.83,12.0,T,2,Snow,293
10,22,18,18,1/19/2016,3,42,30.03,11.0,0,1,NaN,293
10,32,19,19,1/20/2016,15,49,30.13,6.0,0,2,NaN,302
10,31,20,20,1/21/2016,11,45,30.15,6.0,0,1,NaN,312
9,26,21,21,1/22/2016,6,41,30.21,NaN,0.01,3,Snow,34
1,26,22,22,1/23/2016,21,78,29.77,16.0,2.31,8,Fog-Snow,42
8,28,23,23,1/24/2016,11,53,29.92,6.0,T,3,Snow,327
10,34,24,24,1/25/2016,18,54,30.25,3.0,0,2,NaN,286
10,43,25,25,1/26/2016,29,56,30.03,7.0,0,2,NaN,244
10,41,26,26,1/27/2016,22,45,30.03,7.0,T,3,Rain,311
10,37,27,27,1/28/2016,20,51,29.90,5.0,0,1,NaN,234
10,36,28,28,1/29/2016,21,50,29.58,8.0,0,4,NaN,298
10,34,29,29,1/30/2016,16,46,30.01,7.0,0,0,NaN,257
10,46,30,30,1/31/2016,28,52,29.90,5.0,0,0,NaN,241

In [172]:
df.loc['10']

KeyError: '10'

In [174]:
df.loc[10]

,Temperature,level_0,index,EST,DewPoint,Humidity,Sea Level PressureIn,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
VisibilityMiles,,,,,,,,,,,,
10,38,0,0,1/1/2016,23,52,30.03,8.0,0,5,NaN,281
10,36,1,1,1/2/2016,18,46,30.02,7.0,0,3,NaN,275
10,40,2,2,1/3/2016,21,47,29.86,8.0,0,1,NaN,277
10,25,3,3,1/4/2016,9,44,30.05,9.0,0,3,NaN,345
10,20,4,4,1/5/2016,-3,41,30.57,5.0,0,0,NaN,333
10,33,5,5,1/6/2016,4,35,30.50,4.0,0,0,NaN,259
10,39,6,6,1/7/2016,11,33,30.28,2.0,0,3,NaN,293
10,39,7,7,1/8/2016,29,64,30.20,4.0,0,8,NaN,79
10,33,10,10,1/11/2016,8,37,29.92,NaN,0,1,NaN,289
10,35,11,11,1/12/2016,15,53,29.85,6.0,T,4,NaN,235
10,26,12,12,1/13/2016,4,42,29.94,10.0,0,0,NaN,284
10,30,13,13,1/14/2016,12,47,29.95,5.0,T,7,NaN,266
10,22,18,18,1/19/2016,3,42,30.03,11.0,0,1,NaN,293
10,32,19,19,1/20/2016,15,49,30.13,6.0,0,2,NaN,302
10,31,20,20,1/21/2016,11,45,30.15,6.0,0,1,NaN,312
10,34,24,24,1/25/2016,18,54,30.25,3.0,0,2,NaN,286
10,43,25,25,1/26/2016,29,56,30.03,7.0,0,2,NaN,244
10,41,26,26,1/27/2016,22,45,30.03,7.0,T,3,Rain,311
10,37,27,27,1/28/2016,20,51,29.90,5.0,0,1,NaN,234
10,36,28,28,1/29/2016,21,50,29.58,8.0,0,4,NaN,298
10,34,29,29,1/30/2016,16,46,30.01,7.0,0,0,NaN,257
10,46,30,30,1/31/2016,28,52,29.90,5.0,0,0,NaN,241